body {
  font-family: "Roboto Slab", serif;
}

h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: grey;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: grey;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.weather-temperature img {
  height: 80px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}

.temperature-display {
  color: grey;
  font-weight: 500;
  margin-left: 10px;
  font-weight: 550;
  font-size: 60px;
  line-height: 1;
}

.weather-temperature .units {
  color: grey;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -25px;
}

.weather-temperature .active {
  color: grey;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
